extends layout

block content
    div.wrapper
        div.container
            div
                h1 Who Am I
            div.section
                p Hi, I'm Jesus. A 
                    span#purple.semibold Front-End Developer 
                    | based in Houston.
                p(style='margin-top: 30px') I'm passionate about learning, growing and reaching my full potential in life. Curious about the unknown and amazed at how one can create something out of nothing. 
        div.container
            h1 What I've Built
        each val in projects
            div.indx-proj-container.group
                h2 #{val.project_name}
                p.indx-proj-description #{val.thumbnail_description}
                    .img-main
                        a(href=`/work/${val.id}`)
                            img.large.cover(src=`../static/images/${val.image_urls[0]}`, alt=`${val.image_urls[0]}`)
                            .overlay
                                span.overlay-text View Project
        div.container
            div
                h1 What I Know
            div.section
                p The majority of my skillset centers around the world of JavaScript.
                p Technologies include HTML, CSS, JavaScript, ReactJS, Object-Oriented Programming, Node.js, Express, Pug/Jade and jQuery.